html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

main {
    padding: 1vw;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d1831;
}

footer {
    background-color: #0d1831;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

h1 {
    text-align: center;
    font-size: 88px;
    color: white;
}

h3{
    color: rgb(50, 49, 48);
}

h2, h4, h5, h6 {
    text-align: center;
}

p{
    color: rgb(50, 49, 48);
}

a:visited {
    color: rgb(206, 206, 206);
}

a {
    color: rgb(23, 35, 88)
}

#headshot {
    border-radius: 50%;
    height:120px;
    width:120px;
}

figcaption {
    font-style: italic;
    color: grey;
}

img.social {
    margin-left: 2vw;
}