/*ELEMENTS*/
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}

main {
    padding: 1vw;
    height: 65vh;
}

main.profile {
    text-align: center;
    margin: 2vw;
    padding: 2vw;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2vw;
    border: none;
}

header div.nav-bar {
    justify-content: flex-end;
    align-self: flex-end;
}

footer {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
    border-top: 1px black solid;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: rgb(102, 102, 102);
}

h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(50, 49, 48);
}

p{
    color: rgb(50, 49, 48);
}

a:visited {
    color: rgb(134, 134, 134);
}

a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

figcaption {
    font-style: italic;
    color: grey;
    font-size: 0.75em;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding: 5%;
}

/*CLASSES*/

.nav-bar .nav {
    padding-left: 2vw;
    padding-right: 2vw;
}

.project {
    display: flex;
    align-items: center;
}

div.container:hover {
    border: none;
}

.project img {
    height: auto;
    width: 400px;
    border-radius: 5%;
}

.project img:hover {
    opacity: 30%;
}

div.container {
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 5%;
    border: 1px black solid;
    margin: 5vh;
    object-fit: contain;
    align-items: center;
    ;
}
main.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
}

div.nav-bar {
    display: flex;
    justify-content: space-between;
}
a.nav {
    padding-left: 2.5px;
    padding-right: 2.5px;
    color: rgb(102, 102, 102);
    font-weight: 900;
    text-decoration: none;
}
a.nav:hover {
    color: #4C928B;
}

.description {
    display: flex;
    justify-content: center;
    margin: 2.5vh 5vw 2.5vh 5vw;
}

img.social {
    margin-left: 2vw;
}

.wrappedImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.wrappedImage {
    height: auto;
    width:75%;
}

.wrappedImages figure {
    margin: 0;
    margin: 10px;
    flex-basis: 33.33%;
}

.form-field {
    border-radius: 5px;
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}




.dropdown:hover .dropdown-content {
    display: block;
}

/*IDs*/
#headshot {
    border-radius: 50%;
    height:150px;
    width:auto;
}
#hf-logo {
    height: 150px;
    width: auto;
    margin: 0;
    padding: 0;
}

#contact-me {
    padding: 0.75vw;
    background-color: #4C928B;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 5%;
}

#home {
    margin: 0; padding: 0
}

#home {
    display: flex;
    justify-content: center;
    text-align: center;
}

#toPortfolio {
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

#welcome {
    font-size: 60px;
 }


/*MEDIA QUERIES*/
@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    h1 {
        font-size: 2em;
    }

}
@media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    h1 {
        font-size: 3em;
    }
}
