/*ELEMENTS*/
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

main {
    padding: 1vw;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d1831;
}

footer {
    background-color: #0d1831;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: white;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(50, 49, 48);
}

p{
    color: rgb(50, 49, 48);
}

a:visited {
    color: rgb(206, 206, 206);
}

a {
    color: rgb(23, 35, 88)
}

figcaption {
    font-style: italic;
    color: grey;
    font-size: 0.5em;
}

/*CLASSES*/
.description {
    display: flex;
    justify-content: center;
    margin: 2.5vh 5vw 2.5vh 5vw;
}

img.social {
    margin-left: 2vw;
}

.wrappedImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.wrappedImage {
    height: auto;
    width:75%;
}

.wrappedImages figure {
    margin: 0;
    margin: 10px;
    flex-basis: 33.33%;
}

/*IDs*/
#headshot {
    border-radius: 50%;
    height:120px;
    width:120px;
}

#connect {
    color: white;
}

/*MEDIA QUERIES*/
@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    h1 {
        font-size: 2em;
    }

}
@media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    h1 {
        font-size: 3em;
    }
}