<h1>Work Experience</h1>

<h2>Boston University School of Hospitality Administration</h2>
<h3>Assistant to the Dean, 2021-2022</h3>
<h5>...</h5>
<h3>Operations Manager, 2020-2021</h3>
<h5>...</h5>
<h3>Administrative Coordinator, 2019-2020</h3>
<h5>...</h5>
<h2>DISC Inc.</h2>
<h3>SEO Marketing Intern</h3>
<h5>...</h5>
<h2>Johnny's Tavern Amherst</h2>
<h3>Server, 2017-2018</h3>
<h5>...</h5>
<h3>Hostess, 2016-2017</h3>
<h5>...</h5>
<h2>Speedway LLC</h2>
<h3>Management Intern</h3>
<h5>...</h5>

<h1>Projects</h1>
<h2>Visual Design</h2>
<h3>Adobe Illustrator</h3>
<h2>Applications</h2>
<h3>ShoppingListBuilder</h3>