.activeLink {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.25rem;
	border-bottom: 2px solid black;
}

.link {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.25rem;
}
