<mat-nav-list>
    <div class="logo-py-4">
        <a routerLink="/dashboard"><img src="" alt="headshot"></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">PAGES</h2>
        <a mat-list-item routerLink="/webwork" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon> Webwork
        </a>
        <a mat-list-item routerLink="/github" routerLinkActive="list-item-active">
            <mat-icon>view_module</mat-icon> GitHub
        </a>
        <a mat-list-item routerLink="/resume" routerLinkActive="list-item-active">
            <mat-icon>map</mat-icon> Resume
        </a>
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">EDUCATION</h2>
        <h4>MS in Computer Information Systems, candidate '22</h4>
        <h5>Boston University</h5>
        <h6>concentration: Web App Development</h6>
        <h4>BBA in Operations & Information Management, 2018</h4>
        <h5>UMass Amherst, Isenberg School of Management</h5>
        <h6>minor: Information Technology</h6>
        <h2 matSubheader class="mt-2">SKILLS</h2>
        <p>web design/development: 60%</p>
        <p>back end development: 40%</p>
        <p>database management: 50%</p>
        <p>communication: 90%</p>
        <p>project management: 80%</p>
        <h2 matSubheader class="mt-2">CONNECT</h2>
        <a>LinkedIn</a>
        <a>GitHub</a>
        <a>UpWork</a>

</mat-nav-list>